{
    "servers": {
        "irc.freenode.net:6667": {
            "nick": "Kobun2",
            "user": "kobun",
            "realname": "rfw",
            "channels": [
                "#kobun2"
            ],
            "admins": [
                "rfw_?!.*@unaffiliated/rofflwaffls"
            ]
        }
    },

    "services": [
        "8ball.py",
        "autojoin.py",
        "brain.py",
        "cannedreplies.py",
        "logger.py",
        "quotes.py",
        "title.py",
        "wolframalpha.py",
        "whatthecommit.py",
        "sux.py"
    ],

    "wolframalpha.appid": "APPID GOES HERE",
    "logger.file": "kobun.log"
}

